<div class="container">
    <a asp-controller="DmeConfiguration" asp-action="Index" asp-route-repositoryId="@ViewBag.RepositoryId">@ViewBag.Logs</a>
</div>

<hr />
<div class="container">
    <h3>@ViewBag.MapDiffs:</h3>@foreach (var I in ViewBag.Diffs)
    {
        <div class="row">
            <h4>@I.MapPath:</h4>
            <a asp-action="HandleMapGet" asp-route-repositoryId="@ViewBag.RepositoryId" asp-route-prNumber="@ViewBag.PRNumber" asp-route-beforeOrAfter="before">@ViewBag.Before</a> | <a asp-action="HandleMapGet" asp-route-repositoryId="@ViewBag.RepositoryId" asp-route-prNumber="@ViewBag.PRNumber" asp-route-beforeOrAfter="after">@ViewBag.After</a> | <a asp-action="HandleLogsGet" asp-route-repositoryId="@ViewBag.RepositoryId" asp-route-prNumber="@ViewBag.PRNumber">@ViewBag.Logs</a>
        </div>
    }
</div>
